<section class="content content-light  videos-list videos-list-grid">
  <div class="container">

    <ul class="nav nav-tabs" style="  border: 0px hidden;">

      <li role="presentation" class="presentation active" id="active_by_default"><%= link_to "Gestion des cours", settings_path %></li>
      <li role="presentation" class="presentation" id="tab2"> <%= link_to "Gestion des utilisateurs", settings_users_path %></li>
      <li role="presentation" class="presentation" id="tab3"> <%= link_to "Gestion des universités", settings_universities_path %></li>
    </ul>
    <div class="box box-info">
      <div class="box-header">
        <h3 class="box-title">Gestion / <small>Gestion des universités </small></h3>

      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover" style="font-family:'Lucida Grande', sans-serif">
          <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Ajouté</th>
            <th></th>
            <th></th>
          </tr>
          <% @universities.each  do |u| %>
              <tr>

                <td> <%=  u.id    %></td>
                <td> <%=  u.name  %> </td>
                <td> <%=  u.created_at.to_formatted_s(:long) %> </td>
                <td>
                  <%= link_to "/settings/universities/#{u.id}", method: :delete do %>
                      <i class="fa fa-trash-o fa-2x"></i>
                  <% end %>
                </td>
                <td>
                  <%= link_to root_path do %>
                      <i class="fa fa-pencil fa-2x"></i>
                  <% end %>
                </td>
              </tr>
          <% end  %>

        </table>
      </div>
    </div>
  </div>
</section>


<script type="text/javascript" charset="utf-8">

    $("#tab3").addClass("active");
    $("#tab2").removeClass("active");
    $("#active_by_default").removeClass("active");

</script>